* {
  box-sizing: border-box;
}
body {
 display: flex;
 align-items: center;
 justify-content: center;
}
.parent{
  background-color: rgb(182, 203, 222);
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
div{
  padding: 10px ;
  background-color: tomato;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}